* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding: 10px;
}
.main {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main form input {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.main form button {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.weather-container {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 50%;
  text-align: center;
  margin: 10px 0;
}
.weather-container h1,
h2,
img {
  color: aliceblue;
}
@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
}
